<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @service.desc %>
</p>

<%= link_to 'Edit', edit_test_path(@service) %> |
<%= link_to 'Back', tests_path %>
