<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @test.price %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @test.desc %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
